<script src="js/jquery-1.12.4.min.js"></script>
<!-- 登陆拦截 -->
<script>
  $.ajax({
    url: 'http://localhost:8080/api/v1/admin/user/status',
    async: false,
    error: function () {
      alert('请先登录');
      window.location = '/admin/login.html';
    }
  });
</script>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>文章列表</title>
  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="container-fluid">
    <div class="common_title">
      文章列表
    </div>
    <div class="container-fluid common_con">
      <div class="row opt_btns">
        <div class="col-xs-6">
          <form class="form-inline" id="screen">
            <select id="selCategory" name="type" class="form-control input-sm">

            </select>
            <select id="selStatus" name="state" class="form-control input-sm">
              <option value="">所有状态</option>
              <option value="草稿">草稿</option>
              <option value="已发布">已发布</option>
            </select>
            <button id="btnSearch" class="btn btn-default btn-sm">筛选</button>
          </form>
        </div>
        <div class="col-xs-6">
          <a href="article_release.html" class="btn btn-success btn-sm pull-right" id="release_btn">发表文章</a>
        </div>
      </div>

      <table class="table table-striped table-bordered table-hover mp20">
        <thead>
          <tr>
            <th>标题</th>
            <th>作者</th>
            <th>分类</th>
            <th class="text-center">发表时间</th>
            <th class="text-center">状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody id="listBox">

        </tbody>
      </table>

      <div class="row text-center">
        <ul class="pagination pagination-sm" id="pageBox">
          <!-- <li class="page-item first disabled"><a href="#" class="page-link">首页</a></li>
          <li class="page-item prev disabled"><a href="#" class="page-link">上一页</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
        
          <li class="page-item next"><a href="#" class="page-link">下一页</a></li>
          <li class="page-item last"><a href="#" class="page-link">尾页</a></li> -->
        </ul>
      </div>

    </div>
  </div>


  <script src="./js/template-web.js"></script>
  <script src="./js/jquery.twbsPagination.js"></script>
  <script>
    // 设置左侧菜单
    $('#release_btn').click(function () {
      window.parent.setMenu(1, 1);
    })
  </script>

  <!-- 文章列表模板 -->
  <script type="text/html" id="listTpl">
    {{each data.data}}
    <tr>
      <td>{{$value.title}}</td>
      <td>{{$value.author}}</td>
      <td>{{$value.category}}</td>
      <td class="text-center">{{$value.date}}</td>
      <td class="text-center">{{$value.state}}</td>
      <td class="text-center">
        <a href="article_edit.html?postId={{$value.id}}" class="btn btn-default btn-xs edit"  data-id="{{$value.id}}">编辑</a>
        <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id="{{$value.id}}">删除</a>
        <!-- deleteTr( 1005 ) -->
      </td>
    </tr>
{{/each}}
  </script>

  <!-- 分页模板 -->
  <script type="text/html" id="pagelist">
    {{if page=1}}
    <li class="page-item first disabled"><a href="javascript:;" class="page-link" onclick="getpage(1)">首页</a></li>
    <li class="page-item prev disabled"><a href="javascript:;" class="page-link" onclick="getpage({{data.page-1}})">上一页</a></li>
    {{else if page>1}}
    <li class="page-item prev"><a href="javascript:;" class="page-link" onclick="getpage({{data.page-1}})">上一页</a></li>
    {{/if}}

    <!-- <li class="page-item active"><a href="#" class="page-link">1</a></li> -->
    {{each display}}
    <li class="page-item"><a href="javascript:;" class="page-link" onclick="getpage({{$value}})">{{$value}}</a></li>
   {{/each}}

    {{if page < pages}}
    <li class="page-item next"><a href="javascript:;" class="page-link" onclick="getpage({{data.page-0+1}})">下一页</a></li>
    {{else if page=pages}}
    <li class="page-item next"  disabled><a href="javascript:;" class="page-link" onclick="getpage({{data.page-0+1}})">下一页</a></li>
    <li class="page-item last" disabled><a href="javascript:;" class="page-link" onclick="getpage({{data.pages}})">尾页</a></li>
    {{/if}}
  </script>

  <!-- 分类模板 -->
  <script type="text/html" id="categoryListTpl">
  <option value="">所有分类</option>
  <!-- <option value="-1">未分类</option> -->
  {{each data}}
  <option value='{{$value.id}}'>{{$value.name}}</option>
  {{/each}}
  </script>

  <!-- 业务逻辑代码 -->
  <script src="./js/article-list.js"></script>

</body>

</html>