<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大事件-文章</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <div class="header">
    <a href="index.html" class="logo fl"><img src="images/logo.png" alt="logo"></a>
    <div class="search_form fl">
      <form><input type="text" class="search_txt" placeholder="黑洞照片" id="search">
        <button class="search_btn"><i class="fa fa-search"></i></button></form>
    </div>
    <div class="link_info fr">
      <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a>
      <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
    </div>
  </div>

  <div class="menu_con">
    <div class="menu">
      <div class="menu_collapse fl">
        <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
        <ul class="level_two" id="navBoxi">

        </ul>
      </div>
      <ul class="left_menu fl" id="navBox">

      </ul>
      <ul class="right_menu fr">
        <li><a href="#">科技专题</a></li>
        <li><a href="#">财经专题</a></li>
      </ul>
    </div>
  </div>

  <div class="main_con clearfix">
    <div class="left_con setfr">

      <!--  -->
      <div id="articleText"></div>

      <!--  -->

      <form action="" class="comment_form">
        <div class="form_group">
          <label>用户名：</label>
          <input type="text" placeholder="请输入用户名" class="comment_name">
        </div>
        <div class="form_group">
          <label>评论内容：</label>
          <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
        </div>
        <div class="form_group">
          <input type="submit" name="" value="评 论" class="comment_sub"></div>
      </form>

      <!-- 评论数量 -->

      <div class="comment_list_con" id="textTplm">
        <!-- 评论 -->
      </div>
    </div>
    <div class="right_con setfl">
      <div class="common_wrap">
        <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
        <ul class="content_list" id="commentpaihang">

        </ul>
      </div>
      <div class="common_wrap">
        <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
        <ul class="content_list comment_list" id='commentBox'>

        </ul>
      </div>
      <div class="common_wrap">
        <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
        <ul class="content_list guanzhu_list" id="commentfocus">

        </ul>
      </div>
    </div>
  </div>

  <div class="footer clearfix">
    <div class="foot_link">
      <a href="#">关于我们</a>
      <span>|</span>
      <a href="#">联系我们</a>
      <span>|</span>
      <a href="#">招聘人才</a>
      <span>|</span>
      <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
    <p>电话：0755-****888 粤ICP备*******8号</p>
  </div>


  <script src="./js/jquery-1.12.4.min.js"></script>
  <script src="./js/template-web.js"></script>

  <!-- 文章展示模板 -->
  <script type="text/html" id="articleTpl">
    <div class="breadcrumb">
      当前位置： <a href="index.html">首页</a> &gt; <a href="list.html?categoryID={{data.categoryId}}">{{data.category}}</a> &gt; 文章详情
    </div>
    <h3 class="article_title">{{data.title}}</h3>
    <div class="article_info">{{data.author}} 发布于 {{data.date}}&nbsp;&nbsp;&nbsp;分类:{{data.category}}&nbsp;&nbsp;&nbsp;阅读:
      ({{data.read}})&nbsp;&nbsp;&nbsp;评论: ({{data.comments}})</div>
    <div class="article_con">


      <p>{{data.content}}</p>

      <p>{{@data.content}}</p>

      <p>{{@data.content}}</p>

      <p>{{@data.content}}</p>

      <p>{{@data.content}}</p>

      <p>{{@data.content}}</p>


    </div>
    <div class="article_links">
      {{if data.prev}}
      上一篇： <a href="article.html?id={{data.prev.id}}">{{data.prev.title}}</a><br>
      {{/if}}
      {{if data.next}}
      下一篇： <a href="article.html?id={{data.next.id}}">{{data.next.title}}</a>
      {{/if}}
    </div>
  </script>

  <!-- 评论模板 -->
  <script type="text/html" id="textTpl">
    <div class="comment_count">
      {{data.length}}条评论
    </div>
    {{each data}}
    <div class="comment_detail_list">
      <div class="person_pic fl">{{$value.author.substr(0,1)}}</div>
      <div class="name_time fl"><b>{{$value.author}}</b><span>{{$imports.date($value.date)}}小时前</span></div>
      <div class="comment_text fl">
        {{$value.content}}
      </div>
    </div>
    {{/each}}
  </script>


  <script src="js/article.js"></script>
  <script src="./js/template-web.js"></script>
  <script src="./js/common.js"></script>

  <!-- 文章页面的 js 代码  -->
  <script>

  </script>
</body>

</html>